@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 "Poppins", "sans-serif";
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-content {
    display: flex;
    gap: 20px;
}

.section-content article {
    flex: 1 1 30%;
    background-color: #859cae;
    color: black;
    border-radius: 8px;
    padding-bottom: 10px;
}

.section-header {
    text-align: center;
    padding-bottom: 2em;
}

.section-header h2 span {
    color: #447bc2;
}

.button {
    color: white;
    background-color: #447bc2;
    border: 1px solid white;
    border-radius: 17px;
    padding: 5px;
    text-decoration: none;
    padding: 5px 20px;
}

.media-content {
    padding: 10px 20px;
}

h3 {
    margin: 13px auto;
}

p {
    padding-bottom: 10px;
}