/* .main-nav {

} */

.main-nav ul {
    padding: 0;
}

.main-nav li {
    list-style: none outside;
    position: relative;
    display: block;
}

.main-nav > ul > li {
    display: inline-block;
    margin: 0,2em;
}

.main-nav a {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    color: #369;
    background-color: rgb(207, 213, 213);
    border: 2px solid rgb(131, 131, 134);
    border-radius: 0.3em;
}

.main-nav li:hover > a,
.main-nav a:hover {
    background-color: orange;
    color: white;
}

.main-nav ul ul {
display: none;
}

.main-nav ul ul li {
   margin-bottom: 0.2em;
}

.main-nav li:hover > ul {
    display: block;
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 2px 0;
}

.main-nav  ul ul li:hover > ul {
    left: initial;
    top: 0;
    right: 100%;
}